<div id="applyLeaveForm" style="display: none;">
    <form id="leaveForm">
        <label for="body">Body:</label><br>
        <input type="text" id="body" name="body"><br>
        <label for="approverId">Approver ID:</label><br>
        <input type="text" id="approverId" name="approverId"><br>
        <label for="type">Type:</label><br>
        <select id="type" name="type">
            <option value="casual">Casual</option>
            <option value="medical">Medical</option>
        </select><br>
        <input type="submit" value="Apply for Leave">
    </form>
</div>